/* COLOR PALETTE */
:root {
  --primary-dark: #2B2D42;
  --primary-light: #EDF2F4;
  --secondary: #8D99AE;
  --accent: #EFF6E0;
}
.App {
  text-align: center;
  background-color: #EDF2F4 ;
}
.App h1 {
  font-size: 300%;
}
/* .App-logo {
  height: 40vmin;
  pointer-events: none;
} */

/* @media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
} */

/* .App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
} */

/* .App-link {
  color: #61dafb;
} */

/* @keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */

.banner{
  background-color: var(--primary-dark);
  color: var(--primary-light);
}

.nav-link {
  color: var(--primary-light)!important;
  font-weight: bolder!important;
}

.nav-link:focus,
.nav-link:hover {
  color: var(--secondary)!important;
}

.section-title,
.paragraph {
  color: var(--primary-dark);
}

.paragraph {
  text-align: left;
  font-size: large;
}